<div id="user-photo-slide" class="carousel slide col-sm-6 col-sm-offset-3" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	  <% @posts.each_with_index do |post, index| %>
	    <li data-target="#user-photo-slide" data-slide-to="<%= index %>" class="<% if index == 0 %> active <% end %>"></li>
	  <% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	  	<% @posts.each_with_index do |post, index| %>
		    <div class="item <% if index == 0 %> active <% end %>">
		      <%= image_tag post.image.url(:thumb), :class => "img-responsive center-block" %>
		    </div>
		<% end %>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#user-photo-slide" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#user-photo-slide" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
</div>
