<% provide(:title, 'Sign up') %>

<div class="container col-sm-6 col-sm-offset-3">

    <h2>Sign Up</h2>

    <%= form_for(@user, html: { class: "directUpload" }) do |f| %>
      
      <%= render 'shared/error_messages' %>
      
      <%= render 'form', f: f %>

      <%= f.submit "Create my account", class: "btn btn-primary col-xs-12" %>

    <% end %>

</div> <!-- /container -->