<div class="container well col-sm-8 col-sm-offset-2 ">
<% provide(:title, @user.username) %>


<div class="col-lg-4">
	<h1>
	  <%= gravatar_for @user %>
	  <%= @user.username %>
	  <%= image_tag @user.avatar_url %>
	</h1> <hr />
</div>

<div class="col-lg-8">
	<%= render 'photogrid' %>
</div>








</div> 