  <h1 class="cover-heading">Hello, <%= current_user.username%>!</h1>
  <p class="lead">16photos is a simple website to create bite-sized photo albums to tell your stories.</p>
  <p><%= link_to " Upload Photo", new_post_path, :class => "fa fa-camera btn btn-lg btn-success" %></p>