<div class="container" id="grid">

<div class="page-header well">
  <h1>Yosemite <small>Hetch Hetchy to Jack Maine Canyon</small></h1>
</div>

	<% @photo_index = 1 %>
	<% 4.times do %>
		<div class="row">
			<% 4.times do %>
				  <div class="col-xs-12 col-sm-3">
				       <%= image_tag "#{@photo_index}.jpg", :class => "photogrid img-responsive"%>
				       <% @photo_index = @photo_index + 1 %>
				  </div>
			<% end %>
		</div>
	<% end %>
</div>



