<div class="container well col-sm-8 col-sm-offset-2">	
	<div class ="form-wrapper">
		<%= simple_form_for(@post, html: { class: 'form-horizontal', multipart:true }) do |f| %>

		<div class="form-group">
			<div class="fileinput fileinput-new" data-provides="fileinput">
				  <div class="fileinput-new thumbnail" style="width: 250px; height: 250px;">
				    <img src="http://placehold.it/250x250" alt="...">
				  </div>
	  			<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 250px; max-height: 250px;"></div>
				  <div>
				    <span class="btn btn-default btn-file"><span class="fileinput-new"><i class="fa fa-camera"></i> Select Image</span><span class="fileinput-exists">Change</span><input class="file required" type="file" name="post[image]" id="post_image"></span>
				    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
				  </div>
			</div>
		</div>

		<div class="form-group">
		  <%= f.input :caption, placeholder: 'something about this photo' %>
		</div>

		<div class="form-group text-center">
		  <%= f.button :submit, :class => 'btn-success' %>
		</div>

		<% end %>
	</div>
</div>