<div class="container well">
	<%= render @post %>

	<%= link_to "Back", posts_path, :class => "btn btn-primary pull-right" %> 
	<% if @post.user.id == current_user.id %>
		<%= link_to "Edit", edit_post_path(@post), :class => "btn btn-warning pull-right" %>
	<% end %>
</div>
