/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@media (min-width: 601px) {
  body#siteBackground {
    background: url(http://i.imgur.com/vYqEM1H.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
  }
}

@media screen and (max-width: 600px) {
  .html-mobile-background {      
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%; /* To compensate for mobile browser address bar space */
    background: url(http://i.imgur.com/2rFk5K9.png) no-repeat; 
    background-size: cover;
  }
}




/*
 * Globals
 */

/* Links */
.center {
  text-align: center;
}

.dropdown-menu > li > a:hover {
    background-color: #6A778A;
    background-image: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #6A778A;
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav > li > a, .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand,
.navbar-nav > li > a {
color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.dropdown-menu {
  background-color: #7184A0;
}

}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


html,
body {
  font-family: 'Raleway', sans-serif;
}



.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: transparent;
}


.navbar-brand {
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
}

.cover-heading { 
  font-family: 'Oleo Script', cursive;
  font-size: 60px;
}


.home {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}



.well {
  background: rgba(245, 245, 245, .8);
  -webkit-transform: translate3d(0,0,0);
  border: none;
} 

.navbar {
    background:rgba(149, 175, 214, .7);
    border: none;
}