// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body.welcome {
    background: url(https://images.unsplash.com/photo-1429000263672-1b8b4008d2f7?q=80&fm=jpg&s=86863762a0b82f88a23cd5b43cdcdd27) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
  }

img.photogrid {
	 max-height: 200px;
	 margin: 0 auto;
	 padding: 5px;
}
