      <div class="mastfoot">
        <div class="inner">
          <p>Created by <%= link_to "Justin White", "http://www.sirjustinwhite.com" %></p>
        </div>
      </div>

    </div>

  </div>

</div>