    <div class="row">
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Created by <%= link_to "Justin White", "http://www.sirjustinwhite.com/", :target => "_blank" %> </p>
      </div>
    </footer>
</div>